
.quiz-container {
    font-family: Cambria, serif; 
    text-align: center;
    width: 100%;

}

#pagetext {
    font-size: large;
}

#title {
    font-size: larger;
    font-weight: bolder;
}

#start {
    font-size: 20px;
    width: 55%;
    /* border-radius: 12px; */
    /* background-color: lightseagreen; */
    position: absolute;
    left: 22%;

}